.float{
	top: 0px;
	left:0px;
	width: 100%;
	height: 30px;
	top:50px;
	background-color:aqua;
	position: absolute;
}
.Main_page_link{
	text-decoration: none;
	padding: 25px 10px;
	color:red;
	display: inline;
}
.About_page_link{
	text-decoration: none;
	padding: 60px 360px;
	color:red;
	display: inline;
}
.Other_page{
	text-decoration: none;
	padding: 25px 10px;
	color:red;
	display: inline;
}
.list{
	top:100px;
	position: absolute;
	width:300px;
	left:20px;
	
}
body {
	height: 1500px;
	margin: 0;
}
.drums , .wind_instr,  .guitar_devices {
		background-color: #AFEEEE;
	width: 230px;
	font-family: cursive;
	font-weight: 800;
	height: 30px;
	font-size: 22px;
	border:1px solid lightblue;


}
.list_head{
	color:black;
	background-color: #7B68EE;
	opacity: .3;
	
	height:35px;
	display: inline;
	top:480px;
	font-weight: 800;
	font-size: 22px;
	border:1px solid lightblue;
	width: 3px;
	display: inline;
	
}
.guitars , .dj, .keyboard_instr{
	background-color: #AFEEEE;
	width: 230px;
	font-family: cursive;
	font-weight: 800;
	height: 30px;
	font-size: 22px;
	border:1px solid lightblue;
	
}
.t_head_1{
	display:inline;
	top:370px;
	left:396px;
	height: 23px;
	width: 400px;
	background-color: #00FF00;
	position:absolute;
}
.t_head_2{
	display:inline;
	top:770px;
	left:396px;
	height: 23px;
	width: 400px;
	background-color: #00FF00;
	position:absolute;
}
.About, .OTHER{
position: absolute;
width:600px;
top:10px;
padding-left: 350px;

}